$green:#99E2D0;
$pink: #ff93e1;
$purple: #a16be0;
$lightgrey: #f6f6f6;
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0 0 0;
    width: 100%;
}
h1 {
    font-family: 'shrikhand', sans-serif;
    font-size: 40px;
}
img {
    object-fit: cover;
    width: 100%;
    
}
a {
    text-decoration: none; 
}
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    .fas {
        color: black;
        position: absolute;
        top: 7%;
        left: 5%;
        font-size: xx-large;
        cursor: pointer;
        padding-bottom: 10px;
    }
    img {
        height: 80%;
        width: 80%;
    }
}
#nom-resto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $lightgrey;
    border-radius: 40px ;
    margin: -40px 0;
    position: relative;
    .fa-heart {
        color: white;
        font-size: xx-large;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        cursor: pointer;
        &:hover {
            animation: heart 0.5s linear forwards;
            @keyframes heart{
                0% {
                    opacity: 0.25;
                    background: linear-gradient($purple, $pink);
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-stroke-width: 0;
                }
                50% {
                    opacity: 0.5;
                    background: linear-gradient($purple, $pink);
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-stroke-width: 0;
                }
                100% {
                    opacity: 1;
                    background: linear-gradient($purple, $pink);
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-stroke-width: 0;
                }
            }
        }
        &:active {
            background: linear-gradient($purple, $pink);
            background-clip: text;
            color: transparent;
            -webkit-text-stroke-width: 0;
        }
    }
}
#menu {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    gap: 20px;
    h2 {
        text-transform: uppercase;
        border-bottom: 4px solid $green;
        width: 10%;
        padding-bottom: 5px;
    }
    .groupe{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .glisser1 {
            animation: glisser 1s;
                
                @keyframes glisser {
                    0%{
                        transform: translateY(25px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        .glisser2 {
            animation: glisser 1.25s;
                
                @keyframes glisser {
                    0%{
                        transform: translateY(25px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        .glisser3 {
            animation: glisser 1.5s;
                
                @keyframes glisser {
                    0%{
                        transform: translateY(25px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }  
        .choix {
            display: flex;
            color: black;
            background-color: white;
            box-shadow: 0px 3px 10px 1px #CCCCCC;
            border-radius: 20px;
            cursor: pointer;
            .text-menu {
                padding: 10px 0 5px 20px;
                width: 100%;
                
                .prix {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 5px 0;
                    }
                    span {
                        padding-right: 20px;
                    }
                }
            }
            .ok{
                visibility: hidden; 
            }
            &:hover .ok {
                visibility: visible;
                display: flex;
                align-items: center;
                background: #99E2D0;
                color: white;
                border-radius: 0 20px 20px 0;
                padding: 20px;
                transition:  0.5S ease-in-out;
            }
            .fas {
                color: white;
            }
            &:hover .fas {
                animation: rotate-center 0.5s ease-in-out both;
                @keyframes rotate-center {
                    0% {
                        
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                 }
            }
        }
    }
}
#button {
    display: flex;
    justify-content: center;
    margin: 50px;
    cursor: pointer;
    span {
        color: white;
        background: linear-gradient($pink , $purple);
        border-radius: 30px;
        padding: 15px 45px;
        border: none;
        font-size: inherit;
    }
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
    h3 {
        font-family: 'shrikhand', sans-serif;
        padding: 0 20px;
        font-weight: lighter;
    }
    .foot{
        display: flex ;
        flex-direction: row;
        align-items: center;
        margin: 2px 20px;
    } 
    .fas {
        width: 1%;
        font-size: small;
    }
    p{
        margin: 2px 20px;
    }
}