body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Shrikhand', cursive;
}
@media screen and (max-width: 768px){
.recherche {
    padding: 10%;
    .barre-recherche {
        display: flex;
        justify-content: center;
    }
}
}