body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0 0 0;
  width: 100%;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 40px;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}
header .fas {
  position: absolute;
  left: 20px;
  font-size: xx-large;
}
header img {
  height: 80%;
  width: 80%;
}

#nom-resto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 40px;
  margin: -40px 0;
  position: relative;
}
#nom-resto .fa-heart {
  color: white;
  font-size: xx-large;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
#nom-resto .fa-heart:hover {
  animation: heart 0.5s linear forwards;
}
@keyframes heart {
  0% {
    opacity: 0.25;
    background: linear-gradient(#a16be0, #ff93e1);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 0;
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(#a16be0, #ff93e1);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 0;
  }
  100% {
    opacity: 1;
    background: linear-gradient(#a16be0, #ff93e1);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 0;
  }
}
#nom-resto .fa-heart:active {
  background: linear-gradient(#a16be0, #ff93e1);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 0;
}

#menu {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  gap: 20px;
}
#menu h2 {
  text-transform: uppercase;
}
#menu #entre {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#menu #entre .choix {
  color: black;
  background-color: white;
  box-shadow: 0px 3px 10px 1px #CCCCCC;
  border-radius: 20px;
}
#menu #entre .choix .text-menu {
  padding: 10px 0 5px 20px;
}
#menu #entre .choix .text-menu .prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu #entre .choix .text-menu .prix p {
  margin: 10px 0;
}
#menu #entre .choix .ok {
  display: flex;
  justify-content: center;
  right: 10px;
  align-items: center;
  background: #99E2D0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  padding: 20px;
}

#button {
  display: flex;
  justify-content: center;
  margin: 50px;
}
#button span {
  color: white;
  background: linear-gradient(#ff93e1, #a16be0);
  border-radius: 30px;
  padding: 15px 45px;
  border: none;
  font-size: inherit;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
  padding: 0 20px;
}
footer .foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 20px;
}
footer .fas {
  width: 1%;
  font-size: small;
}
footer p {
  margin: 2px 20px;
}

/*# sourceMappingURL=menu.css.map */
